#nav {
  background-color: rgb(210,71,38);
  color: #fff;
  box-shadow: none;
}
#nav a {
  color: #fff;
}
#nav a:hover {
  color: #fff;
}

#panel {
    padding-left: 3%;
    padding-right: 3%;
    height: 100vh;
    background-color: rgb(35,35,30);
    color: #fff;
    position: fixed;
    z-index: 1000;
}

#plots {
  padding: 3%
}

#stats {
  padding: 2%;
  text-align: right;
}