{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

</style>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/dashboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
        
	</head>
	<body>
		<!--Navigation Bar Header Begins-->
		<header class="row-fluid" id="nav">
			<div class="container">
				<div class="row">
					<ul class="pull-right" id="main_menu">
                        <a href="/services/api" class="btn btn-info btn-sm" role="button">Get Data</a>
                        <li class="muli">{{username}}</li>
                        <li class="muli"><a href="logout/">sign out</a></li>
                        
					</ul>
				</div>
			</div>
		</header>
		<!--Navigation Bar Header Ends-->
        <script src="https://d3js.org/d3.v3.min.js"></script>
        
        <p>hello there2</p>

        <div class="row-fluid">            
            <div class="col-sm-2 border-right" id="panel">
                <br><br><br><br>
                <p>hello there1</p>
            </div> 
            <div class="col-sm-10" style="padding:0">
                <br><br><br>
            <script>
                /*d3.json("/services/api", function(data){
                    var canvas = d3.select("body").append("svg")
                        .attr()
                })*/
                var margin = {top: 30, right: 20, bottom: 30, left: 50},
                    width = 600 - margin.left - margin.right,
                    height = 270 - margin.top - margin.bottom;

                // Parse the date / time
                var parseDate = d3.time.format("%Y-%m").parse;

                var formatDate = d3.time.format("%Y-%b");

                // Set the ranges
                var x = d3.time.scale().range([0, width]);
                var y = d3.scale.linear().range([height, 0]);

                // Define the axes
                var xAxis = d3.svg.axis().scale(x)
                    .orient("bottom").ticks(5);

                var yAxis = d3.svg.axis().scale(y)
                    .orient("left").ticks(5);

                // Define the line
                var valueline = d3.svg.line()
                    .x(function(d) { return x(d.fields.date); })
                    .y(function(d) { return y(d.pk); });
                    
                // Adds the svg canvas
                var svg = d3.select("body")
                    .append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                        .attr("transform", 
                              "translate(" + margin.left + "," + margin.top + ")");

                // Get the data
                d3.json("/services/api", function(error, res) {
                    data = JSON.parse(res.response)
                    for(var i in data) {
                        //console.log(data[i], data[i].fields.timestamp.substring(0,6));                        
                        data[i].fields.timestamp = formatDate(parseDate(data[i].fields.timestamp.substring(0,7)));
                        console.log(data[i], data[i].fields.timestamp);
                        data[i].pk = +data[i].pk;
                    }

                    // Scale the range of the data
                    x.domain(d3.extent(data, function(d) { return d.fields.timestamp; }));
                    y.domain([0, d3.max(data, function(d) { return d.pk; })]);

                    // Add the valueline path.
                    svg.append("path")
                        .attr("class", "line")
                        .attr("d", valueline(data));

                    // Add the X Axis
                    svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis);

                    // Add the Y Axis
                    svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis);

                });

            </script>
            </div>
        </div>

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
	</body>
</html>
