{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
	<style>
		.arc text {
            font: 10px sans-serif;
            text-anchor: middle;
		}
		.arc path {
		    stroke: #fff;
		}
        body { font: 12px Arial;}

        path { 
            stroke: steelblue;
            stroke-width: 2;
            fill: none;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }
	</style>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/dashboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
        <script src="https://d3js.org/d3.v3.min.js"></script>

	</head>
	<body>
		<!--Navigation Bar Header Begins-->
		<header class="row-fluid" id="nav">
			<div class="container">
				<div class="row">
					<ul class="pull-right" id="main_menu">
                        <li class="muli">{{username}}</li>
                        <li class="muli"><a href="logout/">sign out</a></li>
                        
					</ul>
				</div>
			</div>
		</header>
		<!--Navigation Bar Header Ends-->
        
        
        <p>Welcome !!!</p>

        <div class="row-fluid">            
            <div class="col-sm-2 border-right muli" id="panel">
                <br>
                <a href="#">
                    <div class="row" id="link" style="background-color:#666">
                        General Stats
                    </div>
                </a>
                <a href="geographic">
                    <div class="row" id="link">
                        Geographic Stats
                    </div>
                </a>
            </div> 
            <div class="col-sm-10" id="plots" style="margin-left:17%">
                <div class="row-fluid">
                    <div class="row">
                        <h5 class="muli">User Activity Stats</h5>
                        <div id="activityPlot"></div>
                    </div>
                    <hr><br>
                    <div class="row">
                        <div class="col-sm-4" >
                            <h5 class="muli">Age Stats</h5>
                            <div id="ageChart"></div>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="muli">Gender Stats</h5>
                            <div id="genderChart"></div>
                        </div>
                        <div class="col-sm-4" id="stats">
                            <h1 class="josephin" id="totalUsers" style="font-size: 600%;"></h1>
                            <p class="muli">Total Users</p>
                        </div>
                    </div>
                    <br>                   
                </div>
            </div>
        </div>

        <script>

            // Set the dimensions of the canvas / graph
            var margin1 = {top: 30, right: 30, bottom: 30, left: 50},
                width1 = 1000 - margin1.left - margin1.right,
                height1 = 400 - margin1.top - margin1.bottom;

            // Parse the date / time
            var parseDate = d3.time.format("%d-%b-%Y").parse;

            // Set the ranges
            var x1 = d3.time.scale().range([0, width1]);
            var y1 = d3.scale.linear().range([height1, 0]);

            // Define the axes
            var xAxis1 = d3.svg.axis().scale(x1)
                .orient("bottom").ticks(5);

            var yAxis1 = d3.svg.axis().scale(y1)
                .orient("left").ticks(5);

            // Define the line
            var valueline1 = d3.svg.line()
                .x(function(d) { return x1(d.date); })
                .y(function(d) { return y1(d.close); });
                
            // Adds the svg canvas
            var svg1 = d3.select("#activityPlot")
                .append("svg")
                    .attr("width", width1 + margin1.left + margin1.right)
                    .attr("height", height1 + margin1.top + margin1.bottom)
                .append("g")
                    .attr("transform", 
                        "translate(" + margin1.left + "," + margin1.top + ")");

            // Get the data
            d3.json("/services/api?client=" + "{{username}}" + "&params=activity", function(error, resp) {

                data = resp.response

                data.forEach(function(d) {
                    d.date = parseDate(d.date);
                    d.close = +d.close;
                });

                // Scale the range of the data
                x1.domain(d3.extent(data, function(d) { return d.date; }));
                y1.domain([0, d3.max(data, function(d) { return d.close; })]);

                // Add the valueline path.
                svg1.append("path")
                    .attr("class", "line")
                    .attr("d", valueline1(data));

                // Add the X Axis
                svg1.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height1 + ")")
                    .call(xAxis1);

                // Add the Y Axis
                svg1.append("g")
                    .attr("class", "y axis")
                    .call(yAxis1);

            });

            ///////////////////////////////////////////////////////////////////////////////////////
            // GENERAL VALUES FOR THE PIE CHART
            var width = 300,
                height = 300,
                radius = Math.min(width, height) / 2;

            var arc = d3.svg.arc()
                .outerRadius(radius - 10)
                .innerRadius(40);

            var labelArc = d3.svg.arc()
                .outerRadius(radius - 40)
                .innerRadius(radius - 40);

            var pie = d3.layout.pie()
                .sort(null)
                .value(function(d) { return d.population; });

            //////////////////////////////////////////////////////////////////////////////////////////
            // PIE CHART FOR AGE
            var color1 = d3.scale.ordinal()
                .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

            var svg = d3.select("#ageChart").append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            d3.json("/services/api?client=" + "{{username}}" + "&params=age", function(error, resp) {
                data = resp.response
                
                console.log(data);

                if (error) console.log(error);
                
                var g = svg.selectAll(".arc")
                    .data(pie(data))
                    .enter().append("g")
                    .attr("class", "arc");

                g.append("path")
                    .attr("d", arc)
                    .style("fill", function(d) { return color1(d.data.age); });

                g.append("text")
                    .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
                    .attr("dy", ".35em")
                    .text(function(d) { return d.data.age; });
            });

            //////////////////////////////////////////////////////////////////////////////////////////
            // PIE CHART FOR GENDER
            var color2 = d3.scale.ordinal()
                .range(["#5793F3", "#DD4444"]);

            var svg2 = d3.select("#genderChart").append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            d3.json("/services/api?client=" + "{{username}}" + "&params=gender", function(error, resp) {
                data = resp.response
                numbers = data[0]['population'] + data[1]['population'];
                d3.select("#totalUsers").text(numbers);

                console.log(data);

                if (error) console.log(error);
                
                var g = svg2.selectAll(".arc")
                    .data(pie(data))
                    .enter().append("g")
                    .attr("class", "arc");

                g.append("path")
                    .attr("d", arc)
                    .style("fill", function(d) { return color2(d.data.gender); });

                g.append("text")
                    .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
                    .attr("dy", ".35em")
                    .text(function(d) { return d.data.gender; });
            });
            
        </script>

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
	</body>
</html>
