{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
	</head>
	<body>
		<!--Navigation Bar Header Begins-->
		<header class="row-fluid" id="nav">
			<div class="container">
				<div class="row">
					<ul class="pull-right" id="main_menu">
                        <li class="muli"><a href="login/">Sign in</a></li>
					</ul>
				</div>
			</div>
		</header>
		<!--Navigation Bar Header Ends-->


        <div class="row-fluid">
            <div class="col-sm-9" style="padding:0">
                <div class="row-fluid" id="intropane">
                    <br><br><br><br><br>
                    <h1 class="titillium big" >DataCloud Analytics</h1>
                    <h5 class="muli" style="margin-left:0.5%">Analytics as a Service</h5>
                    <br><br><br>
                </div>
                <div class="row-fluid" id="contentpane">
                    <p class="muli">
                        DataCloud Analytics will enable you to get insights from your consumer data in order to help you connect with the right customer, personalize every interaction and measure the effectiveness of each engagement.
                    </p><br><br>
                    <a href="login/"><button class="btn btn-primary">Sign in</button></a>
                </div>
                
            </div>
            <div class="col-sm-3 border-left" id="registerpane">
                <br><br><br><br><br>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" value="" placeholder="Pick a username">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" value="" placeholder="Your email address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" value="" placeholder="Create a password">
                    </div>
                    <input class="btn btn-block btn-success" type="submit" value="Sign up for DataCloud Analytics"></input>
                </form>
                <br><br><br><br><br>
            </div>
        </div>
        <div id="footer" class="muli">By Pranshu Gupta & Akash Waghela, 2016</div>
        <!--<a href="login/">login</a>-->

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
	</body>
</html>
