{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>

<h1>DataCloud Analytics</h1>

<a href="login/">login</a>
<br><br><hr><br>

<form action="" method="POST">
  {% csrf_token %}
  username:<br>
  <input type="text" name="username" value=""><br>
  email:<br>
  <input type="email" name="email" value=""><br>
  password:<br>
  <input type="password" name="password" value=""><br><br>
  <input type="submit" value="Register">
</form>